/* KRISTINA AMEND ID: 0735252 & JUAN-CARLOS SRENG-FLORES ID: 1533920 - PROJECT 2 */

* {
  font-family: "Roboto Mono";
  box-sizing: border-box;
}
/*Make sure the website spans the whole page.*/
html {
  width: 100%;
  height: 100%;
}
/*Makes sure the body spans the whole page, and display flex to push footer to the bottom.*/
body {
  background-color: #fafafa;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
/*This will push the footer to the bottom*/
main {
  flex-grow: 2;
}
/* speed reader block */
.speedReader {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
/*Make header centered.*/
h1 {
  margin: 0 auto 1em auto;
}
/* styles footer */
footer,
a {
  text-align: center;
  font-family: "Roboto Mono";
  font-size: 14px;
  padding: 10px;
}
footer {
  background-color: #007c88;
  width: fit-content;
  margin: auto;
  margin-top: 10px;
  width: 100%;
}
/* styles links */
a {
  font-weight: 600;
  font-size: 16px;
}
a:hover {
  color: rgba(0, 0, 0, 0.541);
}
a:visited {
  color: black;
}
a:focus {
  color: white;
}
/* styles the section where the quote will be displayed */
p {
  background-color: #fafafa;
  padding: 0.5em 0 0.5em 7em;
  min-width: 25em;
  border: 1px solid black;
  margin: 1em auto 2em auto;
  text-align: left;
  align-items: center;
  border: 1px solid #1c6ea49c;
  border-radius: 7px;
}
/* start / stop button */
#stop_start {
  width: 100px;
}
/* words per minute label */
#wpmLabel {
  font-variant: small-caps;
  font-size: 18px;
}
/* button, label, input area */
#inputArea {
  margin: auto;
}
#focusChar {
  color: rgb(173, 0, 0);
}
/* needs more css for span */
span {
  font-weight: bold;
  white-space: pre; /*Preserves white-spaces*/
}
#ronswansonimg {
  width: 700px;
  margin: auto;
  box-shadow: 0px 0px 59px -6px rgba(0, 0, 0, 0.54);
}
#beforeFocus {
  margin-left: 10px;
}
#afterFocus {
  margin-right: 10px;
}
#beforeFocus,
#afterFocus,
#focusChar {
  font-size: 18px;
}
